.loading {
  text-align: center;
}

.loading-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loading-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loading-header {
  background-color: #c5c8ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.loading-link {
  color: #61dafb;
}

